@reference "tailwindcss";

/* Base square style */
.react-github-calendar__day {
  @apply size-3 rounded-sm;
}

/* GitHub green shades */
.react-github-calendar__day.level-0 {
  @apply bg-zinc-900;
}
.react-github-calendar__day.level-1 {
  @apply bg-green-900;
}
.react-github-calendar__day.level-2 {
  @apply bg-green-700;
}
.react-github-calendar__day.level-3 {
  @apply bg-green-500;
}
.react-github-calendar__day.level-4 {
  @apply bg-green-300;
}
